/******************************************************************************
 *  Variables
 *****************************************************************************/
:root {
    --bg-color: white;
}

/******************************************************************************
 *  Global
 *****************************************************************************/
html {
    font-size: 62.5%;   /* Reset for REMS - 62.5% = 10px of 16 there were by default for rem */
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;    /* Responsive images */
}

/******************************************************************************
 *  General
 *****************************************************************************/
.container {
    width: 95%;
    max-width: 140rem;  /* 1200px */
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    color: #333333;
}

h1 {
    font-size: 4.2rem;
}

p {
   font-size: 1.8rem;
}

.error-title {
    text-align: center;
    margin-top: 16rem;
    cursor: default;
}

.error-description {
    text-align: center;
    margin-top: 2rem;
    cursor: default;
}

.successMsg {
    border: 1px solid green;
    border-radius: 50px;
    padding: 1rem;
    text-align: center;
    background-color: lavender;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: green;
}

.errorMsg {
    border: 1px solid red;
    border-radius: 50px;
    padding: 1rem;
    text-align: center;
    background-color: antiquewhite;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: red;
}

/******************************************************************************
 *  Header
 *****************************************************************************/
.navigation {
    padding: 1rem 5rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.navigation nav a {
    color: white;
    font-size: 1.6rem;
}

.logo a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo span {
    font-weight: 700;
}

.navigation nav ul {
    list-style: none;
}

.navigation nav li {
    display: inline;
}

.navigation nav li a {
    color: #b8b8b8;
    text-decoration: none;
    margin-right: 2rem;
}

.navigation nav li:last-of-type a {
    margin.right: 0;
}

.navigation nav li a:hover {
    color: white;
}

.navigation .active {
    color: white;
    font-weight: bold;
}

/******************************************************************************
 *  Container Main Page
 *****************************************************************************/
.pre-footer {
    min-height: 80vh;
}

.container.main-page {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    text-align: center;
}

.container.main-page h1 {
    margin-top: 11rem;
    margin-bottom: 0;
    font-size: 4.2rem;
    cursor: default;
}

.container.main-page h2 {
    margin-top: 11rem;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 2.4rem;
    cursor: default;
}

.container.main-page p {
    margin-top: 4rem;
    font-size: 1.8rem;
}

/******************************************************************************
 *  Clients
 *****************************************************************************/
.caption {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

.clientTable {
    width: 100%;
}

.clientTable .no-format {
    background-color: var(--bg-color);
    width: 4rem;
    padding: 0;
    cursor: pointer;
}

.clientTable .no-format a i {
    color: #333333;
    font-size: 2rem;
}

.clientTable .no-format i:hover {
    color: blue;
}

.clientTable .no-format.delete i:hover {
    color: red;
}

.clientTable .tableHeader {
    text-align: center;
    background-color: #333333;
    color: white;
}

.clientTable tr:nth-child(even) {
    background-color: #cce0ff;
}

.clientTable td {
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.clientTable tbody .center {
    text-align: center;
}

.clientTable tbody .center.id {
    width: 5rem;
}

.clientTable td a {
    text-decoration: none;
}

.clientTable td a:hover {
    text-decoration: underline;
}

.clientTable td a i {
    padding-left: 0.5rem;
    font-size: 1.3rem;
}

/******************************************************************************
 *  Footer
 *****************************************************************************/
footer {
    min-height: 20vh;
}

footer p {
    text-align: center;
    font-size: 1.4rem!important;
    cursor: default;
}

footer .rights {
    margin-top: 4rem;
    position: absolute;
    left: 50vh;
    right: 50vh;
    bottom: 1rem;
}