/******************************************************************************
 *  Variables
 *****************************************************************************/
:root {
    --bg-color: white;
}

/******************************************************************************
 *  Global
 *****************************************************************************/
html {
    font-size: 62.5%;   /* Reset for REMS - 62.5% = 10px of 16 there were by default for rem */
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;    /* Responsive images */
}

/******************************************************************************
 *  General
 *****************************************************************************/
.container {
    width: 95%;
    max-width: 140rem;  /* 1200px */
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    color: #333333;
}

h1 {
    font-size: 4.2rem;
}

p {
   font-size: 1.8rem;
}

.error-title {
    text-align: center;
    margin-top: 16rem;
    cursor: default;
}

.error-description {
    text-align: center;
    margin-top: 2rem;
    cursor: default;
}

.successMsg,
.editClientMsg,
.errorMsg{
    border-radius: 50px;
    padding: 1rem;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.successMsg {
    border: 1px solid green;
    background-color: lavender;
    color: green;
}

.editClientMsg {
    border: 1px solid #124682;
    background-color: #aec6e1;;
    color: #124682;
}

.errorMsg {
    border: 1px solid red;
    background-color: antiquewhite;
    color: red;
}

.button {
    border: 1px solid #407adb;
    border-radius: 5px;
    background-color: #407adb;
    color: white;
    padding: 0.4rem 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.button:hover {
    background-color: #3161b0;
}

/* POPUP */
.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 3);
    border-radius: 3px;
    padding: 2rem;
    text-align: center;
    width: 60rem;
}

.popup .close-btn-popup {
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: block;
    text-align: right;
    color: #b8b8b8;
    transition: .3 ease all;
}

.popup .close-btn-popup:hover {
    color: #000;
}

/******************************************************************************
 *  Header
 *****************************************************************************/
.navigation {
    padding: 1rem 5rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.navigation nav a {
    color: white;
    font-size: 1.6rem;
}

.logo a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo span {
    font-weight: 700;
}

.navigation nav ul {
    list-style: none;
}

.navigation nav li {
    display: inline;
}

.navigation nav li a {
    color: #b8b8b8;
    text-decoration: none;
    margin-right: 2rem;
}

.navigation nav li:last-of-type a {
    margin.right: 0;
}

.navigation nav li a:hover {
    color: white;
}

.navigation .active {
    color: white;
    font-weight: bold;
}

/******************************************************************************
 *  Container Main Page
 *****************************************************************************/
.pre-footer {
    min-height: 80vh;
}

.container.main-page {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    text-align: center;
}

.container.main-page h1 {
    margin-top: 11rem;
    margin-bottom: 0;
    font-size: 4.2rem;
    cursor: default;
}

.container.main-page h2 {
    margin-top: 11rem;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 2.4rem;
    cursor: default;
}

.container.main-page p {
    margin-top: 4rem;
    font-size: 1.8rem;
}

/******************************************************************************
 *  Clients
 *****************************************************************************/
.caption {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

.clientTable {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.clientTable .no-format {
    background-color: var(--bg-color);
    width: 4rem;
    padding: 0;
    cursor: pointer;
}

.clientTable .no-format a i {
    color: #333333;
    font-size: 2rem;
}

.clientTable .no-format i:hover {
    color: blue;
}

.clientTable .no-format.delete i:hover {
    color: red;
}

.clientTable .tableHeader {
    text-align: left;
    background-color: #333333;
    color: white;
}

.clientTable .tableHeader .signUpDate {
    text-align: center;
}

.clientTable tr:nth-child(even) {
    background-color: #cce0ff;
}

.clientTable td {
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.clientTable tbody .center {
    text-align: center;
}

.clientTable tbody .center.id {
    width: 5rem;
}

.clientTable td a {
    text-decoration: none;
}

.clientTable td a:hover {
    text-decoration: underline;
}

.clientTable td a i {
    padding-left: 0.5rem;
    font-size: 1.3rem;
}

.newClientBtn {
    display: block;
    width: 20rem;
    text-align: center;
    margin: auto;
}

/******************************************************************************
 *  Client
 *****************************************************************************/

input[type="text"].h1-input {
    font-weight: bold;
    color: #333333;
}

input[type="number"].id-input {
    width: 5rem;
}

/******************************************************************************
 *  Campaigns
 *****************************************************************************/
.container.campaign-page {
    width: 65%;
}

.campaign-page-title {
    text-align: center;
}

.campaigns-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fr = fracción; with auto, images can fail */
    grid-gap: 4rem;
}

.campaign {
    border: 1px solid #333333;
    background-color: #f7f7f7;
    transition: all .5s ease;
    padding: 1rem;
    padding-bottom: 0.2rem;
}

.campaign:hover {
    transition: all .2s ease;
    padding: 1rem;
    padding-bottom: 0.2rem;
    transform: scale(1.1);
}

.campaign-content {
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.campaign-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 3rem;
    cursor: default;
}

.campaign-icon {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
    cursor: default;
}

.campaign-description {
    margin: 0 2rem;
    margin-bottom: 3rem;
    cursor: default;
    height: 12rem;
    overflow: scroll;
}

.campaign-dates {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: default;
}

.campaign-action-icon {
    cursor: pointer;
    color: #333333;
    margin: 0 0.5rem;
    text-decoration: none;
}

a.campaign {
    color: #333333;
    text-decoration: none;
    opacity: 0.4;
}

a.campaign div.campaign-add {
    padding-top: 10rem;
}

.campaign.campaign-add {
    min-height: 25rem;
    padding-top: 10rem;
    border: none;
}

.campaign-add {
    font-size: 10rem;
    text-align: center;
}

p.campaign-add {
    font-size: 1.8rem;
}

.campaign.campaign-add:hover {
    min-height: 25rem;
}

.campaign-add:hover {
    font-size: 10rem;
    text-align: center;
}

.newCampaignBtn {
    display: block;
    width: 23rem;
    text-align: center;
    margin: auto;
}

.campaign-id,
.popup input,
.popup textarea {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.popup p {
    font-size: 1.8rem;
    text-align: left;
    margin: 0;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.popup h1 {
    margin-top: -2rem;
    font-size: 3.2rem;
    margin-bottom: 0;
    cursor: default;
}

.campaign-id {
    margin-top: 1rem;
    max-width: 5rem;
}

.popup input[type=text] {
    width: -moz-available;
    max-width: 50rem;
}

.popup textarea {
    resize: none;
    padding-left: 0;
    height: 8rem;
    width: -moz-available;
    max-width: 50rem;
}

.popup div.date {
    max-width: 20rem;
    display: inline-block;
}

.button.right {
    display: block;
    margin: auto;
}

a.button.right {
    width: -moz-min-content;
    margin-top: 1rem;
}

/******************************************************************************
 *  Footer
 *****************************************************************************/
footer {
    min-height: 20vh;
}

footer p {
    text-align: center;
    font-size: 1.4rem!important;
    cursor: default;
}

footer .rights {
    margin-top: 4rem;
    position: absolute;
    left: 50vh;
    right: 50vh;
    bottom: 1rem;
}

.campaign-footer {
    height: 5rem;
}

/*
.campaignTable {
    width: 100%;
}

.campaignTable .no-format {
    background-color: var(--bg-color);
    width: 4rem;
    padding: 0;
    cursor: pointer;
}

.campaignTable .no-format a i {
    color: #333333;
    font-size: 2rem;
}

.campaignTable .no-format i:hover {
    color: blue;
}

.campaignTable .no-format.delete i:hover {
    color: red;
}

.campaignTable .tableHeader {
    text-align: center;
    background-color: #333333;
    color: white;
}

.campaignTable tr:nth-child(even) {
    background-color: #cce0ff;
}

.campaignTable td {
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.campaignTable tbody .center {
    text-align: center;
}

.campaignTable tbody .center.id {
    width: 5rem;
}

.campaignTable td a {
    text-decoration: none;
}

.campaignTable td a:hover {
    text-decoration: underline;
}

.campaignTable td a i {
    padding-left: 0.5rem;
    font-size: 1.3rem;
}
*/